<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="LogPipe" type="Consortio.LogPipe.Host.Configuration.LogPipeSection, Consortio.LogPipe.Host" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ssK} %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="LogPipe" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Consortio\LogFiles\Log Pipe\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="'logpipe.'yyyy-MM-dd'.log'" />
      <staticLogFileName value="false" />
      <maxSizeRollBackups value="60" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %utcdate{yyyy-MM-dd HH:mm:ssK} - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogPipe" />
      <appender-ref ref="Console" />
    </root>
  </log4net>
  
  <LogPipe>
    <Input>
      <File Type="iislogs">
        <Path>C:\Consortio\LogFiles\iis_*.log</Path>
        <Tags>
          <Tag>tag1</Tag>
        </Tags>
      </File>

      <File Type="service2">
        <Path>C:\Consortio\LogFiles\service2_log_tag_3*.log</Path>
        <Tags>
          <Tag>tag2</Tag>
          <Tag>tag3</Tag>
        </Tags>
      </File>

      <File Type="service2">
        <Path>C:\Consortio\LogFiles\service2_log_tag4_*.log</Path>
        <Tags>
          <Tag>tag2</Tag>
          <Tag>tag4</Tag>
        </Tags>
      </File>
    </Input>

    <Filter>
      <ExtractTimestampFilter />

      <MatchFilter>
        <Conditions>
          <Type>service1</Type>
        </Conditions>
        <Actions>
          <Replace>
            <Expression Match="Message"><![CDATA[(?<Name>(?i)cart|sessionId)=.*?;]]></Expression>
            <With><![CDATA[${Match.Name}=...;]]></With>
          </Replace>
        </Actions>
      </MatchFilter>

      <MatchFilter>
        <Conditions>
          <Type>service1</Type>
          <Expression><![CDATA[^%{WORD:level}%{SPACE}%{TIMESTAMP_ISO8601:event_time}%{GREEDYDATA}]]></Expression>
        </Conditions>
        <Actions>
          <ExtractFields />
        </Actions>
      </MatchFilter>

      <MatchFilter>
        <Conditions>
          <Type>service2</Type>
          <Expression><![CDATA[(?<field_to_capture>X[0-9]{3})%{SPACE}(?<another_field_to_capture>[0-9]{2})]]></Expression>
          <MustHaveOneTag>
            <Tag>tag2</Tag>
          </MustHaveOneTag>
        </Conditions>
        <Actions>
          <ExtractFields />
        </Actions>
      </MatchFilter>

      <MatchFilter>
        <Conditions>
          <Type>service2</Type>
          <Expression><![CDATA[(?:MATCH_THIS:)]]></Expression>
        </Conditions>
        <Actions>
          <AddField Name="add_fhis_field" Value="matched" />
        </Actions>
      </MatchFilter>

      <MatchFilter>
        <Conditions>
          <Type>service3</Type>
          <Expression><![CDATA[(?:\"SessionId\":\"%{WORD:session_id}\")]]></Expression>
          <MustHaveAllTags>
            <Tag>tag2</Tag>
            <Tag>tag4</Tag>
          </MustHaveAllTags>
        </Conditions>
        <Actions>
          <ExtractFields />
        </Actions>
      </MatchFilter>
    </Filter>

    <Output>
      <ElasticSearch>
        <Host>127.0.0.1</Host>
        <Port>9200</Port>
        <IndexNameFormat>\l\o\g\p\i\p\e\-yyyyMM</IndexNameFormat>
      </ElasticSearch>
    </Output>

    <Patterns>
      <Pattern Name="USERNAME"><![CDATA[[a-zA-Z0-9_-]+]]></Pattern>
      <Pattern Name="USER"><![CDATA[%{USERNAME}]]></Pattern>
      <Pattern Name="INT"><![CDATA[(?:[+-]?(?:[0-9]+))]]></Pattern>
      <Pattern Name="BASE10NUM"><![CDATA[(?<![0-9.+-])(?>[+-]?(?:(?:[0-9]+(?:\.[0-9]+)?)|(?:\.[0-9]+)))]]></Pattern>
      <Pattern Name="NUMBER"><![CDATA[(?:%{BASE10NUM})]]></Pattern>
      <Pattern Name="BASE16NUM"><![CDATA[(?<![0-9A-Fa-f])(?:[+-]?(?:0x)?(?:[0-9A-Fa-f]+))]]></Pattern>
      <Pattern Name="BASE16FLOAT"><![CDATA[\b(?<![0-9A-Fa-f.])(?:[+-]?(?:0x)?(?:(?:[0-9A-Fa-f]+(?:\.[0-9A-Fa-f]*)?)|(?:\.[0-9A-Fa-f]+)))\b]]></Pattern>

      <Pattern Name="POSINT"><![CDATA[\b(?:[1-9][0-9]*)\b]]></Pattern>
      <Pattern Name="NONNEGINT"><![CDATA[\b(?:[0-9]+)\b]]></Pattern>
      <Pattern Name="WORD"><![CDATA[\b\w+\b]]></Pattern>
      <Pattern Name="NOTSPACE"><![CDATA[\S+]]></Pattern>
      <Pattern Name="SPACE"><![CDATA[\s*]]></Pattern>
      <Pattern Name="DATA"><![CDATA[.*?]]></Pattern>
      <Pattern Name="GREEDYDATA"><![CDATA[.*]]></Pattern>
      <Pattern Name="QUOTEDSTRING"><![CDATA[(?>(?<!\\)(?>"(?>\\.|[^\\"]+)+"|""|(?>'(?>\\.|[^\\']+)+')|''|(?>`(?>\\.|[^\\`]+)+`)|``))]]></Pattern>
      <Pattern Name="UUID"><![CDATA[[A-Fa-f0-9]{8}-(?:[A-Fa-f0-9]{4}-){3}[A-Fa-f0-9]{12}]]></Pattern>

      <!-- Networking -->
      <Pattern Name="MAC"><![CDATA[(?:%{CISCOMAC}|%{WINDOWSMAC}|%{COMMONMAC})]]></Pattern>
      <Pattern Name="CISCOMAC"><![CDATA[(?:(?:[A-Fa-f0-9]{4}\.){2}[A-Fa-f0-9]{4})]]></Pattern>
      <Pattern Name="WINDOWSMAC"><![CDATA[(?:(?:[A-Fa-f0-9]{2}-){5}[A-Fa-f0-9]{2})]]></Pattern>
      <Pattern Name="COMMONMAC"><![CDATA[(?:(?:[A-Fa-f0-9]{2}:){5}[A-Fa-f0-9]{2})]]></Pattern>
      <Pattern Name="IP"><![CDATA[(?<![0-9])(?:(?:25[0-5]|2[0-4][0-9]|[0-1]?[0-9]{1,2})[.](?:25[0-5]|2[0-4][0-9]|[0-1]?[0-9]{1,2})[.](?:25[0-5]|2[0-4][0-9]|[0-1]?[0-9]{1,2})[.](?:25[0-5]|2[0-4][0-9]|[0-1]?[0-9]{1,2}))(?![0-9])]]></Pattern>
      <Pattern Name="HOSTNAME"><![CDATA[\b(?:[0-9A-Za-z][0-9A-Za-z-]{0,62})(?:\.(?:[0-9A-Za-z][0-9A-Za-z-]{0,62}))*(\.?|\b)]]></Pattern>
      <Pattern Name="HOST"><![CDATA[%{HOSTNAME}]]></Pattern>
      <Pattern Name="IPORHOST"><![CDATA[(?:%{HOSTNAME}|%{IP})]]></Pattern>
      <Pattern Name="HOSTPORT"><![CDATA[(?:%{IPORHOST=~/\./}:%{POSINT})]]></Pattern>

      <!-- Paths -->
      <Pattern Name="PATH"><![CDATA[(?:%{UNIXPATH}|%{WINPATH})]]></Pattern>
      <Pattern Name="UNIXPATH"><![CDATA[(?>/(?>[\w_%!$@:.,-]+|\\.)*)+]]></Pattern>
      <Pattern Name="LINUXTTY"><![CDATA[(?>/dev/pts/%{NONNEGINT})]]></Pattern>
      <Pattern Name="BSDTTY"><![CDATA[(?>/dev/tty[pq][a-z0-9])]]></Pattern>
      <Pattern Name="TTY"><![CDATA[(?:%{BSDTTY}|%{LINUXTTY})]]></Pattern>
      <Pattern Name="WINPATH"><![CDATA[(?>[A-Za-z]+:|\\)(?:\\[^\\?*]*)+]]></Pattern>
      <Pattern Name="URIPROTO"><![CDATA[[A-Za-z]+(\+[A-Za-z+]+)?]]></Pattern>
      <Pattern Name="URIHOST"><![CDATA[%{IPORHOST}(?::%{POSINT:port})?]]></Pattern>
      <!-- uripath comes loosely from RFC1738, but mostly from what Firefox doesn't turn into %XX -->
      <Pattern Name="URIPATH"><![CDATA[(?:/[A-Za-z0-9$.+!*'(){},~:;=#%_-]*)+]]></Pattern>
      <Pattern Name="URIPARAM"><![CDATA[\?[A-Za-z0-9$.+!*'|(){},~#%&/=:;_?-\[\]]*]]></Pattern>
      <Pattern Name="URIPATHPARAM"><![CDATA[%{URIPATH}(?:%{URIPARAM})?]]></Pattern>
      <Pattern Name="URI"><![CDATA[%{URIPROTO}://(?:%{USER}(?::[^@]*)?@)?(?:%{URIHOST})?(?:%{URIPATHPARAM})?]]></Pattern>

      <!-- Months: January, Feb, 3, 03, 12, December -->
      <Pattern Name="MONTH"><![CDATA[\b(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|Nov(?:ember)?|Dec(?:ember)?)\b]]></Pattern>
      <Pattern Name="MONTHNUM"><![CDATA[(?:0?[1-9]|1[0-2])]]></Pattern>
      <Pattern Name="MONTHDAY"><![CDATA[(?:(?:0[1-9])|(?:[12][0-9])|(?:3[01])|[1-9])]]></Pattern>

      <!-- Days: Monday, Tue, Thu, etc... -->
      <Pattern Name="DAY"><![CDATA[(?:Mon(?:day)?|Tue(?:sday)?|Wed(?:nesday)?|Thu(?:rsday)?|Fri(?:day)?|Sat(?:urday)?|Sun(?:day)?)]]></Pattern>
      <Pattern Name="YEAR"><![CDATA[(?>\d\d){1,2}]]></Pattern>
      <Pattern Name="HOUR"><![CDATA[(?:2[0123]|[01][0-9])]]></Pattern>
      <Pattern Name="MINUTE"><![CDATA[(?:[0-5][0-9])]]></Pattern>
      <!-- '60' is a leap second in most time standards and thus is valid. -->
      <Pattern Name="SECOND"><![CDATA[(?:(?:[0-5][0-9]|60)(?:[.,][0-9]+)?)]]></Pattern>
      <Pattern Name="TIME"><![CDATA[(?!<[0-9])%{HOUR}:%{MINUTE}(?::%{SECOND})(?![0-9])]]></Pattern>
      <!-- datestamp is YYYY/MM/DD-HH:MM:SS.UUUU (or something like it) -->
      <Pattern Name="DATE_US"><![CDATA[%{MONTHNUM}[/-]%{MONTHDAY}[/-]%{YEAR}]]></Pattern>
      <Pattern Name="DATE_EU"><![CDATA[%{YEAR}[/-]%{MONTHNUM}[/-]%{MONTHDAY}]]></Pattern>
      <Pattern Name="ISO8601_TIMEZONE"><![CDATA[(?:Z|[+-]%{HOUR}(?::?%{MINUTE}))]]></Pattern>
      <Pattern Name="ISO8601_SECOND"><![CDATA[(?:%{SECOND}|60)]]></Pattern>
      <Pattern Name="TIMESTAMP_ISO8601"><![CDATA[%{YEAR}-%{MONTHNUM}-%{MONTHDAY}[T ]%{HOUR}:?%{MINUTE}(?::?%{SECOND})?%{ISO8601_TIMEZONE}?]]></Pattern>
      <Pattern Name="DATE"><![CDATA[%{DATE_US}|%{DATE_EU}]]></Pattern>
      <Pattern Name="DATESTAMP"><![CDATA[%{DATE}[- ]%{TIME}]]></Pattern>
      <Pattern Name="TZ"><![CDATA[(?:[PMCE][SD]T)]]></Pattern>
      <Pattern Name="DATESTAMP_RFC822"><![CDATA[%{DAY} %{MONTH} %{MONTHDAY} %{YEAR} %{TIME} %{TZ}]]></Pattern>
      <Pattern Name="DATESTAMP_OTHER"><![CDATA[%{DAY} %{MONTH} %{MONTHDAY} %{TIME} %{TZ} %{YEAR}]]></Pattern>

      <!-- Syslog Dates: Month Day HH:MM:SS -->
      <Pattern Name="SYSLOGTIMESTAMP"><![CDATA[%{MONTH} +%{MONTHDAY} %{TIME}]]></Pattern>
      <Pattern Name="PROG"><![CDATA[(?:[\w._/%-]+)]]></Pattern>
      <Pattern Name="SYSLOGPROG"><![CDATA[%{PROG:program}(?:\[%{POSINT:pid}\])?]]></Pattern>
      <Pattern Name="SYSLOGHOST"><![CDATA[%{IPORHOST}]]></Pattern>
      <Pattern Name="SYSLOGFACILITY"><![CDATA[<%{NONNEGINT:facility}.%{NONNEGINT:priority}>]]></Pattern>
      <Pattern Name="HTTPDATE"><![CDATA[%{MONTHDAY}/%{MONTH}/%{YEAR}:%{TIME} %{INT}]]></Pattern>

      <!-- Shortcuts -->
      <Pattern Name="QS"><![CDATA[%{QUOTEDSTRING}]]></Pattern>

      <!-- Log formats -->
      <Pattern Name="SYSLOGBASE"><![CDATA[%{SYSLOGTIMESTAMP:timestamp} (?:%{SYSLOGFACILITY} )?%{SYSLOGHOST:logsource} %{SYSLOGPROG}:]]></Pattern>
      <Pattern Name="COMBINEDAPACHELOG"><![CDATA[%{IPORHOST:clientip} %{USER:ident} %{USER:auth} \[%{HTTPDATE:timestamp}\] "(?:%{WORD:verb} %{NOTSPACE:request}(?: HTTP/%{NUMBER:httpversion})?|-)" %{NUMBER:response} (?:%{NUMBER:bytes}|-) %{QS:referrer} %{QS:agent}]]></Pattern>

      <!-- Log Levels -->
      <Pattern Name="LOGLEVEL"><![CDATA[([T|t]race|TRACE|[D|d]ebug|DEBUG|[N|n]otice|NOTICE|[I|i]nfo|INFO|[W|w]arn?(?:ing)?|WARN?(?:ING)?|[E|e]rr?(?:or)?|ERR?(?:OR)?|[C|c]rit?(?:ical)?|CRIT?(?:ICAL)?|[F|f]atal|FATAL|[S|s]evere|SEVERE)]]></Pattern>
    </Patterns>
  </LogPipe>
</configuration>